DO NOT TRY TO RUN THIS FILE. MOST IF NOT ALL OF THESE REQUIREMENTS ARE NOT NEEDED
appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cheroot==8.4.5
CherryPy==18.6.0
chromedriver==2.24.1
click==7.1.2
colorama==0.4.3
configparser==5.0.0
constantly==15.1.0
crayons==0.3.1
cryptography==3.0
cssselect==1.1.0
distlib==0.3.1
docx==0.2.4
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.7
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.8.8
html2text==2020.1.16
httpx==0.7.8
hyperframe==5.2.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
isort==4.3.21
itemadapter==0.1.0
itemloaders==1.0.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jmespath==0.10.0
joblib==0.16.0
Keras==2.4.3
lazy-object-proxy==1.4.3
lint==1.2.1
loguru==0.3.2
lxml==4.5.2
mccabe==0.6.1
mock==4.0.2
more-itertools==8.4.0
nltk==3.2.4
numpy==1.19.0
oauthlib==3.1.0
packaging==20.4
pandas==1.0.5
parsel==1.6.0
Pillow==7.2.0
pip-check-reqs==2.1.1
pizzapi==0.0.6
pizzapy==0.0.0
pluggy==0.13.1
portend==2.6
praw==7.1.0
prawcore==1.5.0
preprocessing==0.1.13
PriorityQueue==1.3.0
Protego==0.1.16
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==0.32.2
PyDispatcher==2.0.5
pygame==1.9.6
PyHamcrest==2.0.2
pylint==2.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
queuelib==1.5.0
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
scikit-learn==0.23.2
scipy==1.5.2
Scrapy==2.3.0
selenium==3.9.0
service-identity==18.1.0
six==1.15.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.0.1
sphinx-rtd-theme==0.2.4
tempora==4.0.0
textblob==0.15.3
threadpoolctl==2.1.0
tiktok-bot==0.6.1
toml==0.10.1
tqdm==4.47.0
tweepy==3.9.0
Twisted==20.3.0
typing-extensions==3.7.4.2
update-checker==0.18.0
urllib3==1.25.9
vaderSentiment==3.3.2
virtualenv==20.0.30
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.2.1
websocket-client==0.57.0
wrapt==1.12.1
xmltodict==0.12.0
zc.lockfile==2.0
zope.interface==5.1.0
